//- div.slds-tree_container
	//- ul(class='slds-tree' role="tree")
	//-   li
	//-     div.slds-tree__item Home
	//-   li
	//-     div.slds-tree__item
	//-       button.slds-button.slds-m-right--x-small
	//-         include ../../dist/img/chevron_right.svg
	//-         span.slds-assistive-text Toggle
	//-       a(href='' tabindex='-1' role='presentation' class='slds-truncate') Channels

div#setup-tree.slds-tree-container