div.setup-home-smallCard
	div.progress-wrapper
		div.slds-grid.slds-p-left--medium.slds-p-top--medium.slds-p-right--medium
			div.slds-size--8-of-12
				h1.slds-text-heading--small Recommended Setup
			div.slds-size--4-of-12
				p.slds-text-heading--small.slds-text-align--right 33%
		div.slds-grid.slds-p-around--medium
			div.slds-size--12-of-12
				div.progress-bar.position-relative
					div.progress-bar-bg.position-absolute
					div.progress-bar-progress.position-absolute
	div.steps-wrapper
		div.slds-grid
			ol
				li
					a(href='') Add Users