if nav_type[type].label == 'Back' || nav_type[type].label == 'Close'
	div(id='SetupAppNav' class='AppNav')
		div(style="background-color:" + nav_type[type].color class='Setup__app-nav slds-grid')
			div.slds-col.slds-text-align--left
				ul.Setup__app-nav-list
					li.Setup__app-switcher-control
						a(href='/navEscape/' + nav_type[type].icon class='slds-button slds-button--icon-bare slds-button position-relative')
							if nav_type[type].label == 'Close'
								include ../../dist/img/close.svg
							else if nav_type[type].label == 'Back'
								include ../../dist/img/back.svg
							span.slds-assistive-text Go to previous page
							span.navEscape-label.position-absolute= nav_type[type].label
							title
					li.Setup__app-name
						a(href='/navEscape/#{nav_type.icon}/setup' class='slds-button Setup__app-link-control')
							h1.Setup__app-name__label.slds-text-body--regular= nav_type[type].appName + ' Setup'
else
	div(class='AppNav' style='background-color:' + nav_type.layerCake.color)
		include ../../dist/img/appnav.svg