extends layout

block content
	h1 #{title}
	ul
		each val, index in letters
			li
				if index >= currentLetterIndex
					a(href='bars/'+val, class='font_huge') #{val}
				else 
					a(href='bars/'+val, class='font_huge visited') #{val}
