extends layout

block content
	div.slds-grid.slds-grid--align-center
		div.slds-size--6-of-12
			div.slds-box
				h1.slds-text-heading--large.slds-m-bottom--large #{title}
				ul
					li
						a(href='/proto') Proto