extends layout

block content
	div.slds-grid.slds-grid--align-center.slds-m-top--large
		div.slds-size--6-of-12
			div.slds-box
				h1.slds-text-heading--large.slds-m-bottom--large #{title}
				ol.slds-list--ordered
					li
						h2.slds-text-heading--small.slds-m-bottom--medium How do I get back to the app from Setup Apps?
						ul
							li
								a(href='/navEscape/close' style='background-color:' + navEscape.close.color)
									img(src='dist/img/appnav.svg')
							li
								a(href='/navEscape/close' style='background-color:' + navEscape.back.color)
									img(src='dist/img/appnav.svg')
							li
								a(href='/navEscape/layerCake' style='background-color:' + navEscape.layerCake.color)
									img(src='dist/img/appnav.svg')
