doctype html
html
	head
		link(rel='stylesheet', href='css/main.min.css')
		title= title
	body.slds-p-around--large
		block content
	script(src='vendor/jquery/jquery.min.js')
	script(src='js/main.min.js')