doctype html
html
	head
		link(rel='stylesheet', href='/css/main.css')
		title= title
	body
		div.wrapper
			block content
	script(src='/js/jquery.min.js')
	script(src='/js/jquery.sorter.js')
	script(src='/js/main.js')