doctype html
html
	head
		link(rel='stylesheet', href='css/main.min.css')
		title= title
	body
		block content
			script(src='vendor/jquery/jquery.min.js' type='text/javascript')
			script(src='js/main.min.js' type='text/javascript')