doctype html
html
	head
		link(rel='stylesheet', href='/main.min.css')
		title= title
	body
		div.wrapper
			block content
	script(src='vendor/js/jquery/jquery.min.js')
	script(src='vendor/js/uikit/uikit.min.js')
	script(src='/main.min.js')